<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kodi House Account Activation</title>
    <style type="text/css">
      /* Base */
      body {
        margin: 0;
        padding: 0;
        min-width: 100%;
        font-family: "Gowun Batang", sans-serif;
        font-size: 14px;
        line-height: 1.25;
        background-color: #fafafa;
        color: #222222;
      }
      a {
        color: #000;
        text-decoration: none;
      }
      h1 {
        font-size: 20px;
        font-weight: 600;
        line-height: 1;
        margin-top: 0;
        margin-bottom: 14px;
        text-align: center;
      }
      p {
        margin-top: 0;
        margin-bottom: 24px;
      }
      table td {
        vertical-align: top;
      }
      /* Layout */
      .email-wrapper {
        max-width: 600px;
        margin: 0 auto;
      }
      .email-header {
        background-color: #0070f3;
        padding: 24px;
        color: #ffffff;
      }
      .email-body {
        padding: 24px;
        background-color: #ffffff;
      }
      .email-footer {
        background-color: #f6f6f6;
        padding: 24px;
      }
      /* Buttons */
      .button {
        display: inline-block;
        background-color: #0070f3;
        color: #ffffff;
        font-size: 14px;
        font-weight: 600;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="email-wrapper">
      <div class="email-header">
        <h1>Welcome to Kodi House</h1>
      </div>

      <div class="email-body">
        <p>
          Hello <%= newUser.userName.charAt(0).toUpperCase() +
          newUser.userName.slice(1).toLowerCase() %>,
        </p>
        <p>
          Thank you for registering with Kodi House. To activate your account
          please use the below activation code:
        </p>
        <h2><%= activationCode%></h2>
        <p>This code is valid for the next 5 minutes.</p>
        <p>
          If you haven't registered for Kodi House, please ignore this email.
        </p>
      </div>
      <div class="email-footer">
        If you have any question, Please don't hesitate to contact us at
        <a href="mailto:support@kodihouse.devs@gmail.com"
          >support@kodihouse.devs@gmail.com</a
        >
      </div>
    </div>
  </body>
</html>
